*{
    margin: 0;
    padding: 0;
}

body{
    padding-bottom: 5%;
    background-color: #CCC;
}

#header{
    margin-bottom: 25px;
}

.btn-container{
    width: 80%;
    height: 50px;
    margin-top: 5%;
    margin-left: 5%;
    padding: 1%;
    border: 5px solid navy;
}

.btn{
    width: 150px;
    margin-top: 10px;
    padding: 0.5% 1%;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}