#header{
    margin-bottom: 25px;
}

.btn-container{
    width: 80%;
    min-height: 50px;
    margin-top: 5%;
    margin-left: 5%;
    padding: 1%;
    border: 5px solid blue;
}

p{
    font-size: 14pt;
}